<!doctype html />
<html lang="en" ng-app="cvApp">
    <head>
        <title>My Resume</title>
        <script src="https://code.jquery.com/jquery-3.1.1.min.js" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
        <script src="https://cdn.jsdelivr.net/semantic-ui/2.2.6/semantic.min.js"></script>
        <script src="cvApp.js" type="text/javascript" ></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.6/semantic.min.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body ng-controller="cvController" style="background-color: gray">

        <div class="ui container" style="padding: 40px; margin: 20px; background-color: white; border-style: outset">
            <div class="ui message raised segment">
                    <div class="content">
                        <img class="right floated mini ui image" src="IMG_3150.JPG" />
                        <div class="header">{{cv.name}}</div>
                        <div class="description">{{cv.city}}, {{cv.province}}</div>
                        <div class="description">
                            <i class="mobile icon"></i>
                            {{cv.phone}}
                        </div>
                        <div class="description">
                            <i class="mail icon"></i>
                            <a href="mailto:{{cv.email}}?subject=Hello&body=Hello, {{cv.name}}!">{{cv.email}}</a>
                        </div>
                    </div>
            </div>
            <h3 class="ui header" style="text-align: center">
                <div class="content">
                    <p class="header" style="font-style: italic">{{cv.objective}}</p>
                </div>
            </h3>

            <div class="ui top attached tabular menu">
                <a class="item active" data-tab="tab_sum">
                    <i class="list layout icon"></i>
                    Summary</a>
                <a class="item" data-tab="tab_skl">
                    <i class="tags icon"></i>
                    Technical Skills</a>
                <a class="item" data-tab="tab_empl">
                    <i class="industry icon"></i>
                    Employment</a>
                <a class="item" data-tab="tab_edu">
                    <i class="student icon"></i>
                    Education
                </a>
            </div>
            <div class="ui bottom attached tab segment active" data-tab="tab_sum">
                <div class="ui blue raised segment">
                    <div class="content">
                        <p class="text">{{cv.summary.description}}</p>
                        <p class="text" style="text-align: center; font-style: italic">{{cv.summary.short}}</p>
                    </div>
                </div>
            </div>
            <div class="ui bottom attached tab segment" data-tab="tab_skl">
                <table class="ui blue celled striped table raised segment">
                    <tbody ng-repeat="item in cv.techskills">
                        <tr>
                            <td class="collapsing">
                                <i class="{{item.icon}} icon"></i>
                                <strong>{{item.title}}</strong>
                            </td>
                            <td>{{item.text}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="ui bottom attached tab segment" data-tab="tab_empl">
                <div class="ui blue raised segment" ng-repeat="item in cv.employment | filter:show != false">
                    <div class="ui blue ribbon label">
                        <h4>{{item.company}}</h4>
                    </div>
                    <div class="content">
                        <div>
                            {{item.address}} - <a ng-href="{{item.url}}" target="_blank">{{item.url}}</a>
                        </div>
                        <div class="text" style="font-style: italic; margin-bottom: 10px">({{item.description}})
                        </div>
                        <div class="ui item" ng-repeat="pos in item.positions">
                            <strong>{{pos.title}}</strong> ({{pos.period}})
                            <ul>
                                <li ng-repeat="job in pos.dolist">
                                    {{job}}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui bottom attached tab segment" data-tab="tab_edu">
                <table class="ui blue celled striped table raised segment">
                    <tbody>
                        <tr ng-repeat="item in cv.education">
                            <td>
                                <h4>{{item.title}}</h4>
                                <div class="text">{{item.description}}</div>
                            </td>
                            <td class="right aligned collapsing">
                                {{item.period}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
        </div>
  
    </body>
    <script>
        $('.tabular.menu .item').tab();
        $('.accordion').accordion();
    </script>
</html>
